
    <div class="search-bar">
        <input type="text" placeholder="Name">
        <input type="date" placeholder="Date of Birth">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Mobile">
        <button>Search</button>
    </div>


    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Full Name</td>
                <th>Email</td>
                <th>Mobile</td>
                <th>Date Of Birth</td>
                <th>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><img src="Images/avater.jpg" alt="Photo" class="avatar"></td>
                <td>Abul Kalam</td>
                <td>abul@gmail.com</td>
                <td>01714546489</td>
                <td>20/9/2000</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <tr>
                <td><img src="Images/avater.jpg" alt="Photo" class="avatar"></td>
                <td>Jobyda Haque</td>
                <td>jobhaq@gmail.com</td>
                <td>01354748493</td>
                <td>2/8/1983</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <tr>
                <td><img src="Images/avater.jpg" alt="Photo" class="avatar"></td>
                <td>Jobyda Haque</td>
                <td>jobhaq@gmail.com</td>
                <td>01354748493</td>
                <td>2/8/1983</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <tr>
                <td><img src="Images/avater.jpg" alt="Photo" class="avatar"></td>
                <td>Jobyda Haque</td>
                <td>jobhaq@gmail.com</td>
                <td>01354748493</td>
                <td>2/8/1983</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <tr>
                <td><img src="Images/avater.jpg" alt="Photo" class="avatar"></td>
                <td>Jobyda Haque</td>
                <td>jobhaq@gmail.com</td>
                <td>01354748493</td>
                <td>2/8/1983</td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <!-- Add more rows here as needed -->
        </tbody>
    </table>

    <div class="pagination">
        <span>Showing 1 to 6 out of 30</span>
        <span>
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </span>
    </div>